body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    text-align: center;
}

.color-name {
    text-transform: uppercase;
}

.special {
    border: 4px dotted white;
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.silver {
    background-color: #c0c0c0;
}

.gray {
    background-color: #808080;
}

.maroon {
    background-color: #800000;
}

.green {
    background-color: #008000;
}

.white {
    background-color: #ffffff;
}

.black {
    background-color: #000000;
}

.red {
    background-color: #ff0000;
}

.lime {
    background-color: #00ff00;
}

.navy {
    background-color: #000080;
}

.purple {
    background-color: #800080;
}

.olive {
    background-color: #808000;
}

.teal {
    background-color: #008080;
}

.blue {
    background-color: #0000ff;
}

.magenta {
    background-color: #ff00ff;
}

.yellow {
    background-color: #ffff00;
}

.cyan {
    background-color: #00ffff;
}
